/* Episodes Section */
#episodes, #latest-news {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: relative;
    z-index: 1;
    transform: skewY(-8deg);
    margin-top: 50px;
    padding-bottom: 130px;
}

.episodes-content, .latest-news-content {
    position: relative;
    transform: skewY(8deg);
    padding: 40px 0;
}

#episodes {
    h2 {
    color: #FFFFFF;
    }
}
#episodes {
    img {
    width: 100%;
    height: 100%;
}
}