/* Episodes Section */

#episodes {
    h2 {
    color: #FFFFFF;
    padding-top: 5%;
    }
}
#episodes {
    iframe {
    padding: 40px 0;
    } 
}

.flexible {
    @media screen and (min-width: 1220px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}