/* Episodes Section */
#episodes, #latest-news {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-8deg);
    margin-top: 50px;
    padding-bottom: 130px;
    /*position: absolute;
    z-index: -1;*/
}

.episodes-content, .latest-news-content {
    position: relative;
    transform: skewY(8deg);
    
}

#episodes {
    h2 {
    color: #FFFFFF;
    padding-top: 5%;
    }
}
#episodes {
    iframe {
    padding: 40px 0;
    } 
}

.flexible {
    @media screen and (min-width: 1220px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}