/* Navigation Bar */
.logo {
    img {
    margin: 5px 10px;}
}

nav {
    height: 30px;
    width: 100%;
}

.nav-bar {
    ul {
    float: right;
    }
    li {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
    color: #00F3BB;
    cursor: pointer;
    text-decoration: line-through;
    &:active {
    color: rgba(6,10,36,0.56);
    @media (min-width: 320px) and (max-width: 768px){
        .nav-bar ul {
            height: 300px;
            width: 100%;
            background: #0000EC;
            text-align: right;
            display: none;
        }
    
        .nav-bar ul li {
            color: #FFFFFF;
            display: block;
            padding: 20px;
        }
    
        .nav-bar ul li a {
            font-size: 20px;
        }
    }
    }
}}
}

.checkbtn {
    font-size: 20px;
    color: black;
    float: right;
    margin: 5px 10px;
    cursor: pointer;
    display: none;
    @media (min-width: 320px) and (max-width: 768px){
        .checkbtn {
            display: block;
        }
    
        .checkbtn:active {
            color: black;
        }
}
}

#check {
    display: none;
    @media (min-width: 320px) and (max-width: 768px){
       
        &:checked {
            display: block;
            margin-bottom: 10px;
        }
    }
}
