/* Latest News */
#latest-news {
    padding-bottom: 40px;
    @media screen and (min-width:1220px){
        height: 450px;
    }
}

#latest-news {
    h2 {
    margin-top: 40px;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1220px){
       padding-top: 60px;
    }
}
}

#latest-news {
    button {
    margin: 10px 0 50px 0;
    @media screen and (min-width:1220px){
        width: 30%;
        margin: 60px 430px;
    }
}}