/* Topics Section */
#topics {
    img{
    display: block;
    margin: auto;
    text-align: center;
    padding: 50px 30px;
}

#topics {
    h3 {
    font-family: 'IBMPlex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-top: 15px;
}}

}

@media screen and (min-width: 1220px){
    .topics-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
   
}

