/* Phone Section */
#we {
    img{
        width: 100%;
        
        @media screen and (min-width:1220px){
            width: 50%;
        }
    }
}

.we-content {
    
    @media screen and (min-width:1220px){
        width: 50%;
    }
    
}

.flex-container {
    @media screen and (min-width:1220px){
        display: flex;
        flex-wrap: row wrap;
        align-items: center;
    }
}