/* Phone Section */
#we {
    img {
    display: block;
    margin: auto;
    width: 80%;
    position: absolute;
    z-index: 2;
    top: 1430px;
    left: 10%;
    }
}

.we-content {
    margin-top: 600px;
}
