/* Interviews Section */
#interviews {
    img {
    display: block;
    margin: auto;
    width: 100%;
    }
    h2 {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1220px){
   .grid-container {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }
}
